<footer class="fixed-bottom alert-secondary fw-bold">
    <div class="row p-1 align-items-center">
        <div class="col-4">Developed by Gabriel
        </div>
        <div class="col-4 text-center">Powered by
            <a href="https://socket.io/" target="_blank">
                <img src="/images/socket.io.png" class="align-text-bottom" width="20">
            </a>
        </div>
    </div>
</footer>
