<footer class="fixed-bottom alert-secondary fw-bold">
    <div class="row p-1 align-items-center">
        <div class="col-4">Developed by
            <a href="https://github.com/Aditya-ds-1806" target="_blank" class="link-secondary">Aditya D.S.</a>
        </div>
        <div class="col-4 text-center">Powered by
            <a href="https://socket.io/" target="_blank">
                <img src="/images/socket.io.png" class="align-text-bottom" width="20">
            </a>
        </div>
        <div class="col-4 align-right text-end align-self-center">
            <a href="https://github.com/Aditya-ds-1806/Skribblrs.io" target="_blank" class="link-secondary">
                View on GitHub <img src="/images/github.png" class="align-text-bottom" width="20">
            </a>
        </div>
    </div>
</footer>
