<section class="container d-none" id="gameEnded">
    <div class="row justify-content-center">
        <div class="col-6 bg-white rounded p-3 pt-0" id="statsDiv">
            <h1 class="text-center py-4 bg-white sticky-top">Final Scores</h1>
        </div>
    </div>
</section>
