<section class="container d-none" id="settings">
    <div class="row justify-content-between mx-0">
        <div class="col-md-6 order-2 order-md-0 bg-white rounded h-100 p-3">
            <h1 class="text-center">Settings</h1>
            <div class="input-group mb-3">
                <label class="input-group-text" for="rounds">Rounds</label>
                <select class="form-select" id="rounds">
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="time">Draw time in seconds</label>
                <select class="form-select" id="time">
                    <option value="30">30</option>
                    <option value="40" selected>40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                    <option value="100">100</option>
                    <option value="110">110</option>
                    <option value="120">120</option>
                    <option value="130">130</option>
                    <option value="140">140</option>
                    <option value="150">150</option>
                    <option value="160">160</option>
                    <option value="170">170</option>
                    <option value="180">180</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <label for="language" class="input-group-text">Select Language</label>
                <select id="language" class="form-select">
                    <option value="Assamese">Assamese</option>
                    <option value="Bengali">Bengali</option>
                    <option value="English" selected>English</option>
                    <option value="Gujarati">Gujarati</option>
                    <option value="Hindi">Hindi</option>
                    <option value="Kannada">Kannada</option>
                    <option value="Malayalam">Malayalam</option>
                    <option value="Nepali">Nepali</option>
                    <option value="Oriya">Oriya</option>
                    <option value="Punjabi">Punjabi</option>
                    <option value="Tamil">Tamil</option>
                    <option value="Telugu">Telugu</option>
                </select>
            </div>
            <% if(!roomID) { %>
            <div class="input-group mb-3">
                <label class="input-group-text" for="customeWords">Custom words</label>
                <textarea class="form-control" placeholder="word1&#10;word2&#10;word3" id="customWords"
                    style="height: 20vh; resize:none"></textarea>
            </div>
            <div class="mb-3">
                <label for="probability" class="form-label">Custom words probability</label>
                <input type="range" class="form-range" min="0" max="1" step="0.01" id="probability">
            </div>
            <% } %>
            <button class="btn btn-primary w-100" id="startGame">Start Game</button>
        </div>
        <div class="col-md-6 text-white h-100 p-3">
            <h1 class="text-center">Players</h1>
            <div class="row mt-4 mx-0" style="height: 20em; overflow-y: auto;" id="playersDiv"></div>
        </div>
    </div>
    <div class="mt-5">
        <h1 class="text-white text-center">Invite your friends!</h1>
        <div class="input-group mb-3">
            <input type="text" id="gameLink" class="form-control text-center fw-bold bg-white"
                value="http://localhost:3000/" readonly>
            <button class="btn btn-warning" type="button" id="copy">Copy Link</button>
        </div>
    </div>
</section>
