<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skribbl</title>
</head>

<body>
    <form>
        <input type="text" placeholder="message">
        <button type="submit">Send</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client/dist/socket.io.min.js"></script>
    <script>
        var socket = io();
        document.querySelector('form').addEventListener('submit', e => {
            e.preventDefault();
            socket.emit('chat message', document.querySelector('input').value);
            document.querySelector('input').value = '';
        });

        socket.on("chat message", function (message) {
            var para = document.createElement('p');
            var text = document.createTextNode(message);
            para.appendChild(text);
            document.body.appendChild(para);
        });
    </script>
</body>

</html>