body {
    background-image: url('/images/background.png');
    background-repeat: repeat;
    background-position: center;
    background-size: 250px;
}

section.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}