body {
    background-image: url('/images/background.png');
    background-repeat: repeat;
    background-position: center;
    background-size: 250px;
}

#landing,
#settings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* canvas */

canvas {
    background-color: #fff;
}

.color {
    display: inline-block;
    height: 48px;
    width: 48px;
}

.color.black {
    background-color: black;
}

.color.red {
    background-color: red;
}

.color.green {
    background-color: green;
}

.color.blue {
    background-color: blue;
}

.color.yellow {
    background-color: yellow;
}

/* players */
div.players div.row:nth-of-type(2n+1) {
    background-color: rgba(207, 204, 204, 0.973) !important;
}

/* chat */
.messages {
    overflow-y: auto;
    height: 25em;
}

.messages p:nth-of-type(2n) {
    background-color: rgba(207, 204, 204, 0.973);
}